<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title> NPR Hosts and Reporters </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
<div id="wrapper">

<h1>NPR Hosts and Reporters</h1>

<p>This is a list of my favorite NPR correspondents and the programs they are associated with.</p>


<ul>
<!-- it must say pair in pairs because in line 33 on npr.py you set up the variable to say pair = ids_and_names. also, refer to the help file in google docs -->
{% for pair in pairs %}

    <li> <a href="{{ url_for('people', id = pair[0] ) }}"> {{ pair[1] }} </a> </li>

{% endfor %}
</ul>


</div> <!-- closes wrapper that contains the stuff inside -->

</body>
</html>
